<div class="ui red segment" style="background-color: #FDE3A7;">
	<h3> Lastest Classes </h3>

	{{#each classes}}
		<div class="four wide column">

        <div class="ui stacked segment" style="margin-bottom: 1em;">
          <a class="ui blue header" href="/classes/{{_id}}"> {{title}} </a>
    			<p>{{{description}}} </p>
        </div>

		</div>
	{{/each}}
</div>
