<div class="ui segment">
	<h3> Lastest Classes </h3>

	{{#each classes}}
		<div class="four wide column">
			<h4> {{title}} </h4>
			<p>{{{description}}} </p>
			<a class="button" href="/classes/{{_id}}"> Class Details </a>
		</div>
	{{/each}}
</div>
