<div class="ui segment">
{{#if user}}
	<h5> Welcome, {{user.username}} </h5>
	<ul class="alt">
		<li><i class="home icon"></i> <a href="/{{usertype}}s/classes"> My classes </a> </li>
		<li><i class="sign out icon"></i> <a href="/users/logout"> Logout </a>

	</ul>
{{else}}
		<h4>Student & Instructor Login</h4>
		<form class="ui form" method="post" action="/users/login">
		  <div class="field">
		    <label>Username: </label>
		    <input type="text" name="username" placeholder="Name">
		  </div>
		  <div class="field">
		    <label>Password: </label>
		    <input type="password" name="password" placeholder="Password">
		  </div>
		  <button class="ui primary button" type="submit">Submit</button>
		</form>
{{/if}}
</div>
