<div class="ui segment">

	<h3 class="ui header">Welcome to eLearn</h3>

  <img src="/images/background.png" alt="background image" style="width: 100%;">


  <p> You need to sign up to register classes: </p>
	<a class = "ui blue button" href = "/users/signup"> Sign Up Free </a>

</div>
