<div class="ui header">
	Classes for you:
</div>
    {{#each student.classes}}
<a href="/classes/{{class_id}}/lessons">
  <div class="ui middle aligned animated selection list">

    <div class="item">
    	<div class="ui segment">
      <div class="content">
        <div class="ui header"> {{{class_title}}} </div>
      </div>
     	</div>
    </div>

  </div>
</a>
    {{/each}}
