<div class="ui header">
	Classes for you:
</div>

<div class="ui middle aligned animated list">
	{{#each student.classes}}
  <div class="item">
  	<div class="ui segment">
    <div class="right floated content">
      <a href="/classes/{{class_id}}/lessons"> View Lessons </a>
    </div>

    <div class="content">
      <div class="ui header"> {{{class_title}}} </div>
    </div>
   	</div>
  </div>
	{{/each}}
</div>
