body {
  background-color: #F5F8FA;
}

#messagebox {
  position: fixed;
  margin-left: 20px;
  right: 45%;
  top: 0px;
  z-index: 10000;
  padding: 10px;
}

.star.glow {
	color: orange;
}

.star {
	color: gray;
}

.student-number{
  color: gray;
  font-size: 0,8em;
}

#rating {
	cursor: pointer;
	text-align: center;
  font-size: 30px;
}

.ui.modal {
	transform: translateY(-50%);
}