<div class="ui segment">
	<h2> Add Class </h2>

	<form id="regForm" class="ui form" method = "post" action="/instructors/classes/new" enctype="multipart/form-data">
		<div class="field">
			<label> Class Title </label>
			<input type="text" name = "class_title">
		</div>
		<div class="field">
			<label> Class Description </label>
			<textarea id="tinytextarea" name="class_description"> </textarea>
		</div>
		<input id="image" type="file" name="image">
		<div>
			<input type="submit" class="ui blue button" value="Save new class" >
		</div>
	</form>
</div>
