<h2> Add Class </h2>

<form id="regForm" method = "post" action="/instructors/classes/new">
	<div>
		<label> Class Title </label>
		<input type="text" name = "class_title">
	</div>
	<div>
		<label> Class Description </label>
		<textarea id="tinytextarea" name="class_description"> </textarea>
	</div>
	<div>
		<input type="submit" class="button" value="Save new class" >
	</div>
</form>