<div class="ui segment">
	<div class="ui center aligned blue header">{{{class.title}}}</div>
	<a class="ui header">Students of class:</a>
	<div class="ui very relaxed list">
		{{#each class.students}}
	  <div class="item">
	    <img class="ui avatar image" src="{{avatar_url}}">
	    <div class="content">
	      <a class="header">{{username}}</a>
	      <div class="description">{{email}} </div>
	    </div>
	  </div>
	 	{{/each}}
	</div>
</div>
