<a href="/classes/{{class._id}}/lessons"> Back to lessons </a>
<<<<<<< HEAD
<h2> {{lesson.lesson_title}} </h2>
=======
<h2> {{{lesson.lesson_title}}} </h2>
>>>>>>> 1e3092b55f06882e60209fa4d8af00d85315d289
{{{lesson.lesson_body}}}