<form class="uploadForm" 
			action="/classes/:id/upload"
			enctype="multipart/form-data"
			method="post">
	<input type="file" name="material" multiple>
	<input type="submit" value="Upload" name="submit">
</form>