<div class="ui segment">

<div class="ui header">
	Materials for this course:
</div>
{{#each klass.materials}}
	<div class="ui segment">
		<ol class="ui list">
			<li value="*" ><i class="book icon"></i> <a href="{{this.url}}"> {{this.name}}</a></li>
		</ol>
	</div>
{{/each}}

{{#if isInstructor}}
	<form class="uploadForm"
				action="/classes/{{klass.id}}/upload"
				enctype="multipart/form-data"
				method="post">
			<input type="file" name="material" id="material" multiple>
			<input type="submit" value="Upload" name="submit">
	</form>
{{/if}}
</div>
